#contact-hero {
  background-image: url("../images/maple-1079235_1920.jpg");
  background-attachment: fixed;
}

.hero-text {
  padding: 2rem;
  background: rgba(255, 166, 0, 0.411);
  backdrop-filter: blur(3px);
  --webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(85, 53, 0);
  margin: 0rem 2rem;
}
