@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --sp-red:#F6323E
}

html {
  scroll-behavior: smooth;
}

#return-btn {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anim-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity, transform 500ms ease-in-out;
}

.anim-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity, transform 500ms ease-in-out;
}


@media (min-width: 990px) {
  .nav-btn {
    padding-inline: 1rem;
    position: relative;
  }

  
  .nav-btn::before {
    transition: transform 200ms ease-in-out;
    content: '';
    transform-origin: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    transform: scaleX(0);
    height: 4px;
    background-color: white;
  }

  .nav-btn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

 
}
.logo {
  font-size: 2rem;
  padding-inline: 1rem;
  box-shadow: 6px 6px 8px rgb(44, 44, 44) ;
  display: flex;
  text-transform: none !important;
  font-family: 'Space Mono', monospace;
  border-radius: 3px;
  border: 2px solid white;
}



.hidd {
  opacity:0;
  max-width: 0;
  transition: all 400ms ease-in-out;
}


.logo:hover > .hidd{
  opacity: 1;
  max-width: 1em;
}

.nice-box-shadow {
  box-shadow: 0 15px 50px rgba(0,0,0,0.5);
}


.typewriter {
  font-size: 2rem !important;
  font-weight: bold;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.cursor {
  animation: blink 1000ms steps(2, start) infinite;
}

.text-transform-none {
  text-transform: none !important;
}