@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  --sp-red:#F6323E;
  --dark-blue: #20374C
}

html {
  scroll-behavior: smooth;
}

th, td {
  padding: 1rem !important;
}

.serif {
  font-family: 'DM Serif', serif !important;
}

.bold {
  font-weight: bold !important;
}


/* scroll to top button */
#return-btn {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(var(--dark-blue) 24%, #55A0E9 24%);
  cursor: pointer;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: 0px 10px 80px rgba(0,0,0,0.5);
}

#progress-value {
  font-size: 35px;
  color: var(--dark-blue);
  height: calc(100% - 15px);
  box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
  width: calc(100% - 15px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.anim-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity, transform 500ms ease-in-out;
}

.anim-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity, transform 500ms ease-in-out;
}


@media (min-width: 990px) {
  .nav-btn {
    padding-inline: 1rem;
    position: relative;
  }



  
  .nav-btn::before {
    transition: transform 200ms ease-in-out;
    content: '';
    transform-origin: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    transform: scaleX(0);
    height: 4px;
    background-color: white;
  }

  .nav-btn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

 
}

/* scroll down arrow animations */
#scroll-down-container {
  position: absolute;
  bottom: 3rem;
  right: 50%;
  transform: translateX(-50%);
}

#scroll-down {
  position: relative;
}

#scroll-down::before {
  content: '';
  position: absolute;
  height: 14px;
  width: 14px;
  border: 3px solid white;
  border-top: transparent;
  border-left: transparent;
  transform: translateY(-400%) rotate(45deg);
  animation: scroll-down infinite 1.2s ease-in-out;
  opacity: 1;
}

#scroll-down::after {
  content: '';
  position: absolute;
  height: 14px;
  width: 14px;
  border: 3px solid white;
  border-top: transparent;
  border-left: transparent;
  transform: translateY(-500%) rotate(45deg);
  animation: scroll-down infinite 1.2s 400ms ease-in-out;
  opacity: 1;
}

@keyframes scroll-down {
  0% {
    transform: translateY(-500%) rotate(45deg);
    opacity: 1;
  } 

  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(45deg);
    opacity: 0;
  }
}

.logo {
  font-size: 2rem !important;
  color: white;
  padding-inline: 1rem;
  box-shadow: 6px 6px 8px rgb(44, 44, 44) ;
  display: flex;
  text-transform: none !important;
  font-family: 'Space Mono', monospace;
  border-radius: 3px;
  border: 2px solid white;
}


.big {
  color: white;
}


.hidd {
  opacity:0;
  max-width: 0;
  color: white;
  transition: all 400ms ease-in-out;
}


.logo:hover > .hidd{
  opacity: 1;
  max-width: 1em;
  color: white;
}

.nice-box-shadow {
  box-shadow: 0 15px 50px rgba(0,0,0,0.5);
}


.typewriter {
  font-size: 2rem !important;
  font-weight: bold;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.cursor {
  animation: blink 1000ms steps(2, start) infinite;
}

.text-transform-none {
  text-transform: none !important;
}


@media (max-width: 990px) {
  #return-btn {
    bottom: 1rem;
    right: 1rem;
  } 

  .logo{
    font-size: 1.5rem !important;
  }
}