html {
  scroll-behavior: smooth;
}

#return-btn {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anim-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity, transform 500ms ease-in-out;
}

.anim-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity, transform 500ms ease-in-out;
}

.nav-btn {
  transition: all 200ms ease-in-out;
}

.nav-btn:hover {
  background-color: white;
  color: red !important;
  transform: translateY(-3px);
}
